html {
    background-color: antiquewhite;
}

h1 {
    font-style: oblique;
    margin-left: 8%;
    font-size: 40px;
}

#CTX {
    position: relative;
    top: 0px;
    left: 0px;
}

#Game {
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
}

#Settings {
    padding: 10px;
    padding-top: 0px;
}